<!-- <div> 
user name <input type='text'  ng-model='userName'> 
<br/>
password<input type='password' ng-model='password'>

<button ng-click='login()'>login</button>



</div>
 -->


<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">CrossVid</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
          <!--   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div> -->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome TO Our videos Stage!</div>
                <div class="intro-heading">CrossVid</div>
                <a href="#services" class="page-scroll btn btn-xl"  data-toggle="modal" data-target="#myModal">login</a>
            </div>
        </div>
    </header>

<!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">login</h2>
                    <h3 class="section-subheading text-muted">Login, Watch Videos, And Enjoy! </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <!-- <div class="row">
                            <div class="col-md-6"> -->
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Username *" id="name" required data-validation-required-message="Please enter your name." ng-model='userName'>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="password *" id="email" required data-validation-required-message="Please enter your email address." ng-model='password'>
                                    <p class="help-block text-danger"></p>
                                </div>
                                
                            </div>
      
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl" ng-click='login()'>Login</button>
                         <!--    </div>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
    </section>

</body>

