
<div ng-include="'header.html'"></div>
<div class="container outerpadding "  infinite-scroll='getVideos()'>
<div class="row">
                <div class="col-lg-12 text-center">
                    <h3>videos stage</h3>
                  <!--   <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>

<div class="row" style="margin-top: 40px">

  <div class="col-lg-4" ng-repeat='video in videos'>
     <div class="panel">
        <div class="panel-heading" style="background-color:teal;color:#fff;"><a href><strong ng-click='selectVideo(video._id)'>{{video.name}}</strong></a></div>
        <div class="panel-body" style="background-color:#000;color:#fff; box-shadow:0 -12px 13px teal inset;">
        
        <div class="boximg">
        <!--  <img data-src="http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_52c470899a2e1_1.JPG" class="img-responsive"> -->

		  <video class="videosList" id="{{video.name}}" controls width='340' height="200">
		  <source src="{{video.url}}" type="video/mp4">
		  Your browser does not support HTML5 video.
		 </video>

        
         </div>
         
         
   <br>
        <p class="pull-left">{{video.name}}<br>
           <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
            <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
             <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
              <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
               <span class="glyphicon glyphicon-star-empty" style="font-size:18px;"></span>
        </p>
     
        <span ng-click='selectVideo(video._id)' class="badge pull-right" style="background-color:teal"><a href>More Details</a></span>
      </div>
     </div>
  </div>
  
  </div>
 </div>

</div>




